
@font-face {
  font-family: 'Shabnam';
  src: url('font/Shabnam.eot') format('eot'), /* IE6–8 */ 
  url('font/Shabnam.woff2') format('woff2'),  /* Chrome36+, Opera24+*/ 
  url('font/Shabnam.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
*{
	font-family:"Shabnam";
	font-size:13px;
}



#s44{
    width: 103%;
     height: 90px;
    font-size: 15px;
text-align: center;
    vertical-align:middle;
    color: rgb(59,85,203);
    
}